<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <p class="secret-text">Jack Bauer is my hero.</p>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div><div class="jumbotron text-center">
  <h1 class="display-3">Pen down your thoughts</h1>
  <form action="/secrets" method="POST"> 
    <div class="form-group">
    <label><em>Title</em></label>
    <br>
    <input type="text" class="form-control" name="postTitle" >
    <label><em>Post</em></label>
    <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea><br>
   
</div>
<button class="btn btn-primary">Publish</button>
</form>
</div>
<%- include('partials/footer') %>
